img {
  padding: 25px 100px 25px 50px;
}
body {
  padding: 5px 370px 5px 450px;
}

.title,
.description,
.ingredients,
.steps,
#odin-recipes {
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  margin: 0 auto 20px;
  border: 10px black;
  height: auto;
  width: fit-content;
  padding: 10px 150px 10px 150px;
  box-sizing: border-box;
}
#genlist {
  border: 10px solid aquamarine;
  background-color: aqua;
  margin: 5px auto 10px auto;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
}
