body {
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  background-color: aquamarine;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

.ul {
  text-align: center;
  padding-left: 180px;
}

.genlist {
  display: block;
  background-color: aquamarine;
  border: 2px solid black;
  padding: 5px;
  margin: 16px;
  width: 100px;
}

#return {
  text-align: center;
  margin: 50px;
}

.return {
  padding: 5px;
  display: inline-block;
  background-color: aquamarine;
  border: 2px solid black;
}

img {
  border: 3px solid;
}
